.barra-lateral{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 4rem;
}
.seccion-principal{
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
    align-items: flex-end;
    width: 12rem;
}