@mixin btn-1 {
  background-color: $color_main;
  color: white;
  width: 9rem;
  height: 2rem;
  padding: 0rem;
  margin: 0rem;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  border: dotted 1px $color_main;
}
@mixin btn-2 {
  background-color: rgb(51, 129, 255);
  color: whitesmoke;
  font-weight: 450;
}

$color_main: rgb(32, 53, 239);

html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn-coinbase{
    background-color: azure;
    color: rgb(0, 82, 255);
    border:none;
    font-weight: 600;
    font-size: 1.65rem;
    border-radius: 2rem;
}
.btn-main {
  @include btn-1();

  &:hover {
    opacity: .8;
    box-shadow: 0 0 10px rgb(61, 61, 220);
  }

  &-s {
    @extend .btn-main;
    padding: 0.1rem 1rem;
    font-weight: bold;
  }
}

.btn-sec {
  @include btn-1();
  @include btn-2();
  border-radius: 1xrem;
  padding: 0.1rem 0.75rem;
  &:hover {
    opacity: 0.6;
  }
}

.main-menu {
    margin: 1rem;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: solid 1px black;
    
    ul{
        margin: 0rem;
        padding: 0rem;
        list-style: none;
        li{
            display: inline;
            padding: 0rem 1rem;
            margin:1rem 0rem;
            font-weight: 600;
            font-size: 0.9rem;
            a{
              color:black;
              text-decoration: none;
            }
        }
    }
}
.icon-sm{
    i{
        font-size:1.5rem;
        color:$color_main;
        border: 2px solid $color_main;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 139, 0.366);
    }
}
.feature{
    margin: 8rem 6rem;
    display: flex;
    flex-direction: column;
    .icon{
        font-size: 1.25rem;
        i{
            color:white;
            background-color: $color_main;
            border-radius: 100%;
        }
        span{
            font-weight: 500;
            color:$color_main;

            &:hover{
                text-decoration:underline 1.5px double blue ;
            }
        }
    }
    .description{
        .title{

        }
        .text{

        }
    }
     .cta{

     }
}